.row{
    display:flex; 
    flex-direction:row;
}
.card{
    display:flex; 
    flex-direction:row;
    border-top:0.5px solid grey;

}
.roster{
    font-family:"Arial",Arial,sans-serif;
    color: #EE7600;
    font-size:5.0vw;
}
.left-child{
    flex-basis:20%;
    margin:5px;
    color:black;
}
.right-child{
    flex-basis:80%;
    margin:5px;
    color: black;
}
.button{
    vertical-align: text-bottom;
    background-color:white;
    border: none;
    background-blend-mode: lighten;
}
.name{
    margin:0;
    padding:0;
    font-size:4.0vw;
    color:#303030;
}
.title{
    margin:0;
    padding:0;
    font-size:3.0vh;
    color:#303030;
}
.header{
    margin:0;
    padding:0;

}
.unordered-list{
    color:floralwhite;
}
.lists{
    list-style-type: none;
}
.bio-paragraph{
    font-size: 2vmin;
    color:#303030;
}
.image-ratio{
    max-width:100%;
    max-height: 100%;
    object-fit:cover;
    overflow:hidden;
}
.thumbs{
    font-size:3px;
}
